<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
<style>
    body {
        font-family: sans-serif;
        color: grey;
        font-size: 3mm;
        margin: 0;
    }
    .footer {
        text-align: center;
        border-top: 1px solid grey;
        padding-top: 1mm;
        padding-bottom: 5mm;
    }
    .footer > * {
        display: inline-block;
        width: 33%;
    }
    .footer p {
        margin: 0;
    }
</style>
<div class="footer">
    <div style="text-align: left">
        <p>EVENTPHONE</p>
        <p>Phone Operation Center</p>
        <p>https://eventphone.de</p>
    </div>
    <div style="text-align: center">
        <p>&#8203;</p>
        <p>Chaos *OC Number: 2001/08/4711</p>
        <p>Proud member of Engelgewerkschaft</p>
    </div>
    <div style="text-align: right">
        <p>&#8203;</p>
        <p>&#8203;</p>
        <p>Page {% templatetag openvariable %} current_page {% templatetag closevariable %} of undefined</p>
    </div>
</div>
</body>
</html>