{% extends "master.html" %}

{% block content %}

<h1>Events Sync</h1>

<div class="alert alert-danger" role="alert">
    This is a potentially dangerous functionality!
</div>

<p>Syncing the whole guru content to mgr has a significant resource cost,
may take a while and might have unexpected side effects. Only use this function
if you know what you are doing!</p>

<form method="POST" id="atom-form" action="{% url "event.sync" pk=view.kwargs.pk %}">
    {% csrf_token %}
<button type="submit" id="submit-send" class="btn btn-danger float-right">
    <span id="btn-icon" style="display: inline-block;">&#9762;</span> <span id="btn-text">Kernschmelze verursachen</span>
</button>
</form>

<script>
    var check_timer = null;
    $(document).ready(function () {
        $("#atom-form").on("submit", function (event) {
            event.preventDefault();

            var form = $(this);
            var post_url = form.attr("action");
            $.ajax({
                url: post_url,
                type: "POST",
                data: form.serialize(),
            })
            .done(function(data, textStatus, xhr) {
                $("#submit-send").attr("disabled", true);
                $("#btn-icon").addClass("icon-spin");
                $("#btn-text").html("Pending...");
                check_timer = setInterval(function() { check_task_results(data["task_url"], data["next_view"]); }, 1000);
            })
            .fail(function(data, textStatus, xhr) {
                alert("An error occured: " + textStatus);
            });

        });
    });

    function check_task_results(task_url, success_url) {
        $.getJSON(task_url, function(data) {
            if (data["status"] == "SUCCESS") {
                document.location.href = success_url;
            } else if (data["status"] == "PROGRESS") {
                if (data.hasOwnProperty("info")) {
                    var info = data["info"];
                    $("#btn-text").html("Progress " + info["done"] + "/" + info["total"] + "(max)");
                }
            } else if (data["status"] == "FAILURE") {
                clearTimeout(check_timer);
                $("#submit-send").html("Error :(");
                if (data.hasOwnProperty("info")) {
                    var info = data["info"];
                    $("#atom-form").append($("<p class='text-danger'>" + info + "</p>"));
                }
            }
        });
    }
</script>

{% endblock %}
