{% extends "master.html" %}

{% block content %}

<h1>Unused {{ event.name }} Extensions ({{ event.unusedExtensionQuery|length }})</h1>
<input type="text" placeholder="Search" id="search" class="form-control">
<style>
#extensions [data-search]{ display:none;}
</style>
<style id="searchstyle">
    #extensions [data-search] {display:inline;}
</style>
<p id="extensions">
    {% for extension in event.getAllFreeExtensions %}
    <span data-search="{{extension}}">{{extension}}</span>
    {% endfor %}
</p>

<script type="text/javascript">
document.getElementById('search').addEventListener('input', function(){
    var style = document.getElementById('searchstyle');
    var css = '#extensions [data-search]';
    var value = document.getElementById('search').value;
    var parts = value.split(' ');
    for (var i = 0; i < parts.length; i++){
        if (parts[i].length === 0) continue;
        css += `[data-search*="${parts[i]}"]`;
    }
    css+='{display:inline;}';
    style.innerText = css;
});
</script>

{% endblock %}