<div class="form-group">
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="q" id="searchString" sr-label="Search input" placeholder="{{placeholder}}" value="{{search_params.q}}" {{autofocus}}/>
        <input type="hidden" name="order" value="{{search_params.order}}" />
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit"><span class="oi oi-magnifying-glass" sr-label="Search"></span></button>
        </div>
    </div>
</div>
