{% extends "master.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row">
<div class="col-md-6" style="margin: 0 auto;">
        <h2>Delete AudioFile</h2>
        <form method="POST">
            {% csrf_token %}
            Do you really want to remove the Audio File {{object.name}} ({{object.file.name}})?
            <p class="text-danger">
            <strong>WARNING:</strong>
            Deleting the file will remove it from all configured extensions.
            </p>
            {{form.as_p}}
            <div class="form-actions">
                <button type="Submit" class="btn btn-danger">Delete</button>
                <a href="{{next_view_path}}" class="btn">Cancel</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
