{% extends "master.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row">
<div class="col-md-6" style="margin: 0 auto;">
        <h2>Delete event</h2>
        <form method="POST">
            {% csrf_token %}
            Do you really want to remove the inventory classification {{object.name}}?
            <p class="text-warnining">
            <strong>WARNING:</strong>
                Deleting this classification will revert all inventory item types that currently use it to
                no classification.
            </p>
            {{form.as_p}}
            <div class="form-actions">
                <button type="Submit" class="btn btn-danger">Delete</button>
                <a href="{% url "inventory.type.list" %}" class="btn">Cancel</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
